.canvas {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.button {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
}

#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}